<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthybuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_barbell"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_barbell_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyBuddy"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".PhotoDetailActivity"
            android:exported="true" />
        <activity
            android:name=".PhotoActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity_firebase"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProgressDialog"
            android:exported="true" />
        <activity
            android:name=".AutoLoginActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClsg3B2v-7YvPyvW1apw1c4aNagnUmIlk" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GymActivity"
            android:label="GymActivity" />
        <activity
            android:name=".FindActivity"
            android:label="FindIDActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProfileActivity"
            android:label="ProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MemberActivity"
            android:label="MemberActivity" />
        <activity
            android:name=".ChatActivity"
            android:label="ChatActivity" />
        <activity
            android:name=".MessageActivity"
            android:label="MessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BuddyActivity"
            android:label="BuddyActivity" />
        <activity
            android:name=".ChatAllActivity"
            android:label="ChatAllActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UpdateProfileActivity"
            android:label="UpdateProfileActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>